{% extends 'base.html' %}
{% block content %}
<div class="desktop-1">
    <div class="desktop-1-child"></div>
    <div class="desktop-1-item"></div>
    <div class="desktop-1-inner"></div>

    <div class="navbar-1-icon"></div>
    <div class="haveq">
        <div class="have-any-questions-container">
            <span>Have any questions? </span>
            <span class="span">+91 912345678</span>
        </div>
    </div>

    <div class="navbar-2">
        <div class="nav-2-left">
            <div class="nav-home">
                <div class="frame4">
                    <img class="vector-icon" alt="" src="/vector.svg" />

                    <div class="home"><a class="nav-buttons">HOME</a></div>
                </div>
                <div class="nav-home-child"></div>
            </div>
            <div class="research"><a href="#research" class="nav-buttons">RESEARCH</a></div>
            <div class="team"><a href="#page6-home" class="nav-buttons">TEAM</a></div>
            <div class="gallery"><a href="{% url 'home'%}" class="nav-buttons">GALLERY</a></div>
            <div class="about"><a href="#page4-home" class="nav-buttons">About Us</a></div>
            <div class="contact-us"><a href="{% url 'home'%}" class="nav-buttons">Contact us</a></div>
            <div class="contact-us">
                <ul class="dropdown-menu">
                    {% for tribe in tribes %}
                    <li><a class="dropdown-item" href="{% url 'tribe_detail' tribe.slug %}">{{tribe.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="nav-2-right">
            <div class="contact-us1"><a href="{% url 'login'%}" class="nav-buttons">Login</a></div>
            <div class="contact-us1"><a href="{% url 'register'%}" class="nav-buttons">Register</a></div>
        </div>
    </div>
    <div class="main-logo">
        <div class="frame14">
            <div class="webtool"><a href="{% url 'home' %}" class="logo-link">Webtool</a></div>
        </div>
        <div class="frame15">
            <a href="{% url 'home' %}">
                <img class="screenshot-2023-10-11-223008-1" alt=""
                    src="/static/downloaded_images/Screenshot 2023-10-11 223008 1.png" /></a>
            <div class="frame16">
                <div class="tribal-development-index"><a href="{% url 'home' %}" class="logo-link">Tribal
                        development index</a></div>

            </div>
        </div>
    </div>
    <img class="iitrlogo-1-icon" alt="" src="/static/downloaded_images/iitrLogo1.png" />



    <div class="page7-home">
        <div class="noun-indian-chief-3357474-1-parent">
            <img class="noun-indian-chief-3357474-1-icon" alt=""
                src="/static/downloaded_images/noun-indian-chief-3357474 1.png" />

            <img class="ribe3-1-icon" alt="" src="/static/downloaded_images/ribe3 1.png" />

            <img class="tribe2-2-icon" alt="" src="/static/downloaded_images/tribe2 2.png" />

            <img class="green1-1-icon" alt="" src="/static/downloaded_images/green1 1.png" />

            <img class="noun-indigenous-4559746-1-icon" alt=""
                src="/static/downloaded_images/noun-indigenous-4559746 1.png" />

            <img class="noun-sun-5935792-1-icon" alt="" src="/static/downloaded_images/noun-sun-5935792 1.png" />
        </div>
    </div>
    <div class="page6-home" id="page6-home">
        <div class="project-staff-frame">
            <div class="ajit-roshan-tete-parent">
                <div class="ajit-roshan-tete">ajit roshan tete</div>
                <div class="research-assistant">Research assistant</div>
                <img class="frame-child" alt="" src="/static/downloaded_images/ajit.jpg" />
            </div>
            <div class="research-assistant-parent">
                <div class="research-assistant1">research assistant</div>
                <div class="ajay-xess">ajay xess</div>
                <img class="frame-item" alt="" src="/static/downloaded_images/ajay.jpg" />
            </div>
            <div class="research-associate-parent">
                <div class="research-associate">research associate</div>
                <div class="soumya-gupta">soumya gupta</div>
                <img class="frame-inner" alt="" src="/static/downloaded_images/soumya.jpg" />
            </div>
        </div>
        <div class="investigators-frame">
            <div class="prof-harshit-sosan-lakra-parent">
                <div class="prof-harshit-sosan">Prof. Harshit Sosan Lakra</div>
                <div class="principal-investigator">Principal Investigator</div>
                <img class="rectangle-icon" alt="" src="/static/downloaded_images/harshit.jpg" />
            </div>
            <div class="co-principal-investigator-parent">
                <div class="co-principal-investigator">
                    Co-Principal Investigator
                </div>
                <div class="prof-m-k">Prof. M K Barua</div>
                <img class="frame-child1" alt="" src="/static/downloaded_images/barua.jpg" />
            </div>
            <div class="co-principal-investigator-group">
                <div class="co-principal-investigator1">
                    co-Principal Investigator
                </div>
                <div class="prof-rachita-gulati">Prof. Rachita Gulati</div>
                <img class="frame-child2" alt="" src="/static/downloaded_images/rachita.jpg" />
            </div>
        </div>
        <div class="project-staff">
            <div class="project-staff-child"></div>
            <div class="project-staff1">Project staff</div>
        </div>
        <div class="our-team">
            <div class="our-team-child"></div>
            <div class="our-team1">Our Team</div>
        </div>
        <div class="investigators">
            <div class="project-staff-child"></div>
            <div class="investigators1">Investigators</div>
        </div>
    </div>
    <div class="page4-home" id="page4-home">
        <div class="about-us-frame">
            <div class="frame">
                <div class="about-us-grp">
                    <div class="about-us">About Us</div>
                    <div class="about-us-grp-child"></div>
                </div>
                <div class="the-laboratory-of">
                    The Laboratory of Inclusive Design (LID) is driven by the goal of
                    “inclusion for all” with universal design as a philosophy guided
                    by human centric approach. Our work at LID focuses on diversity
                    and inclusion of persons with disabilities, children, aging,
                    gender perspectives, along with cultural and economic dimensions
                    of accessibility. Anchored on a human-centric design philosophy
                    and a holistic environmental approach, we aim to provide
                    accessible solutions spanning across domains of built
                    infrastructure, information systems, assistive technologies, and
                    service models.
                </div>
                <div class="read-more-button">

                    <div class="read-more">
                        <span class="r">Read More</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame1">
            <img class="iitr-1-icon" alt="" src="/static/downloaded_images/iitr 1.png" />

            <div class="vision-frame">
                <div class="frame2">
                    <div class="line-div"></div>
                    <div class="about-us">Vision</div>
                </div>
                <div class="frame3">
                    <div class="to-create-and">
                        To create and support the development of inclusive environments
                        in India and beyond, through an interdisciplinary understanding
                        of design, architecture, planning, science, technology, social
                        sciences, policies and human-centric approaches.
                    </div>
                    <div class="read-more-button1">

                        <div class="read-more1">
                            <span class="r">Read More</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page2-home">
        <div class="head2">
            <div class="services">SERVICES</div>
            <div class="about-us-grp-child"></div>
        </div>
        <div class="cards-frame">
            <div class="tribe-wise-frame">
                <div class="tribe-wise-grp">
                    <img class="tribe-wise-icon" alt="" src="/static/downloaded_images/tribe-wise-icon.png" />

                    <div class="tribe-wise-tdi">Tribe-wise TDI</div>
                    <div class="get-tribe-wise">
                        Get Tribe wise Tribal development Index of 32 tribes of
                        Jharkhand
                    </div>
                    <a href="/tribe/asur">
                        <div class="go-button">


                            <div class="go-">GO -&gt;</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="district-wise-frame">
                <div class="district-wise-grp">
                    <div class="district-icon-parent">
                        <img class="tribe-wise-icon" alt="" src="/static/downloaded_images/district-icon.png" />

                        <div class="tribe-wise-tdi">District-wise TDI</div>
                        <div class="get-district-wise">
                            Get district wise Tribal development Index of 24 Districts of
                            Jharkhand
                        </div>
                        <a href="/district/Bokaro/2023">
                            <div class="go-button">

                                <div class="go-">GO -&gt;</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="add-data-frame">
                <div class="add-data-grp">
                    <img class="tribe-wise-icon" alt="" src="/static/downloaded_images/add-data-icon.png" />

                    <div class="add-data">
                        <p class="department-of-architecture">Add data</p>
                    </div>
                    <div class="add-household-data">
                        Add household data for tribe-wise and district data for district
                        wise tDI
                    </div>
                    <a href="/tribe/form">
                        <div class="go-button">
                            <img class="go-button-child" alt="" src="/rectangle-143.svg" />

                            <div class="go-">GO -&gt;</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>






    <div class="page1-home">
        <img class="group-icon" alt="" src="/static/downloaded_images/Group.png" />

        <img class="group-icon1" alt="" src="/static/downloaded_images/Group (1).png" />

        <div class="img-location-grp">
            <div class="patratu-jharkhand-india">Patratu, Jharkhand, India</div>
        </div>
        <div class="main-head">
            <div class="frame5">
                <div class="head1">GET TRIBAL DEVELOPMENT INDEX OF JHARKHAND</div>
                <div class="desc1">
                    The TDI for District-wise comparison is a summary measure of
                    Development based on data available from
                </div>
            </div>
            <div class="frame6">
                <div class="explore-button">
                    <b class="explore-index">EXPLORE INDEX </b>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-frame">
        <div class="frame7">
            <div class="frame8">
                <div class="screenshot-2023-10-11-223008-3-parent">
                    <img class="screenshot-2023-10-11-223008-3" alt=""
                        src="/static/downloaded_images/Screenshot 2023-10-11 223008 1.png" />

                    <div class="frame-child3"></div>
                </div>
            </div>
            <div class="frame-parent">
                <div class="group-parent">
                    <div class="department-of-architecture-container">
                        <p class="department-of-architecture " id="department-of-architecture-icon">
                            Department of Architecture and Planning,
                        </p>
                        <p class="department-of-architecture">
                            Indian Institute of Technology (IIT), Roorkee
                        </p>
                        <p class="department-of-architecture">
                            Uttarakhand- 247667, India
                        </p>
                    </div>
                </div>
                <div class="mail-parent">

                    <div class="archideptgmailcom">archidept@gmail.com</div>
                </div>
                <div class="vector-parent">

                    <div class="div">1569-24356</div>
                </div>
            </div>
        </div>
        <div class="privacy-policy">
            <img class="privacy-policy-child" alt="" src="/line-5.svg" />

            <div class="privacy-policy1">
                Privacy Policy | Copyright Policy | Terms & Conditions |
                Accessibility Statement ©2023. All rights reserved
            </div>
            <div class="privacy-policy-item"></div>
        </div>
        <div class="content-owned-by-container">
            © Content owned by Laboratory of Inclusive Design, IIT Roorkee. Design
            credits @
            <a class="neeraj-choudhary" href="https://www.linkedin.com/in/neeraj-choudhary-a05264190/" target="_blank">
                <span class="neeraj-choudhary1">Neeraj Choudhary.</span>
            </a>
        </div>
    </div>
    <div class="page3-home">
        <div class="page3-home-child"></div>
        <div class="frame9">
            <div class="page3-home-center-graph-frame-parent">
                <div class="page3-home-center-graph-frame">
                    <div class="frame10">
                        <div class="district-wise-tdi1">District wise TDI scores</div>
                    </div>
                    <div class="home-graphs">
                        <div class="district-map-frame">
                            <canvas id="district_map"></canvas>
                        </div>

                        <div class="district-graph">
                            <canvas id="district_horizontal_graph"></canvas>
                        </div>

                    </div>

                </div>
                <div class="frame11">
                    <div class="tribe_graph">
                        <canvas id="tribe_stacked_graph"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page5-home" id="research">
        <div class="research-grp">
            <div class="about-us">Research</div>
            <div class="about-us-grp-child"></div>
        </div>
        <div class="the-laboratory-of1">
            The Laboratory of Inclusive Design (LID) is driven by the goal of
            “inclusion for all” with universal design as a philosophy guided by
            human centric approach. Our work at LID focuses on diversity and
            inclusion of persons with disabilities, children, aging, gender
            perspectives, along with cultural and economic dimensions of
            accessibility. Anchored on a human-centric design philosophy and a
            holistic environmental approach, we aim to provide accessible
            solutions spanning across domains of built infrastructure, information
            systems, assistive technologies, and service models.
        </div>
        <div class="frame12">
            <div class="books-frame">
                <img class="th-1-icon" alt="" src="/static/downloaded_images/th 1.png" />

                <img class="cover-page1-home-crc-1-icon" alt=""
                    src="/static/downloaded_images/Cover-page1-home-CRC 1.png" />

                <img class="architecture-book-cover-templa-icon" alt=""
                    src="/static/downloaded_images/Architecture-Book-Cover-Template 1.png" />

                <img class="book-cover-page-4-crc-1-icon" alt=""
                    src="/static/downloaded_images/Book-cover-page-4-CRC 1.png" />
            </div>
        </div>
        <div class="frame13">
            <div class="read-more-button2">

                <div class="read-more1">
                    <span class="r">Read More</span>
                </div>
            </div>
        </div>
    </div>




</div>

{% endblock %}
{% block extra_css %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'css/global2.css' %}">
{% endblock %}