<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="setup-materials">
      <div class="navbar1">
        <div class="web-tdi1">Web TDI</div>
        <div class="opt1-group">
          <div class="opt11">opt1</div>
          <div class="opt21">opt2</div>
          <div class="opt21">opt3</div>
          <div class="opt21">opt4</div>
          <div class="opt21">opt5</div>
        </div>
        <div class="login-group">
          <div class="login1">Login</div>
          <div class="signup1">SignUp</div>
        </div>
      </div>
      <div class="page2-parent">
        <div class="page2">
          <div class="frame-parent">
            <div class="frame-group">
                <div class="group">
                    <img class="vector-icon" alt="" src="../../public/static/images/" />
    
                    <div class="percentage-contribution-of">
                      Percentage contribution of each Dimension and Indicator to TDI
                      Score
                    </div>
                  </div>
              <!-- <img class="frame-child" alt="" src="../../public/static/images/percentage-graph.png" /> -->
                <div class="percentage-graph">
                    <div class="censored"><canvas id="censored-graph"></canvas></div>
                    <div class="uncensored"><canvas id="uncensored-graph"></canvas></div>
                </div>
             
            </div>
            <div class="group-parent">
              <div class="group1">
                <img class="vector-icon1" alt="" src="../../public/static/images/vector1.svg" />

                <div class="percentage-contribution-of1">
                  Percentage contribution of each Dimension and Indicator to TDI
                  Score
                </div>
              </div>
              <div class="group-child">
                <img src="../../public/static/images/asur-image.png" alt="" style="width: 100%;">
              </div>
            </div>
          </div>
          <div class="frame-container">
            <div class="frame-div">
              <div class="frame">
                <img
                  class="rectangle-icon"
                  alt=""
                  src="../../public/static/images/map.png"
                />
              </div>
              <div class="group2">
                <div class="percentage-contribution-of2">
                  Percentage contribution of each Dimension and Indicator to TDI
                  Score
                </div>
              </div>
            </div>
            <div class="score-graph-1-parent">
              <!-- <img
                class="score-graph-1-icon"
                alt=""
                src="../../public/static/images/score-graph.png"
              /> -->
              <div>
                <canvas id="score-graph"></canvas>
              </div>

              <div class="group2">

                <div class="score">Score</div>
              </div>
            </div>
          </div>
        </div>
        <div class="page1">
          <div class="tribe-logo-parent">
            <img
              class="tribe-logo-icon"
              alt=""
              src="../../public/static/images/Tribe-logo-name.png"
            />

            <div class="frame1" style="background-image: url(../../public/static/images/asur.jpg);">
              <div class="photo-desc" style="background-color: #f2f2f277;">
                <div class="image-location-">
                  Image Location - Village Husmu , Neharhat , Jharkhand
                </div>
                <div class="an-asur-man">
                  An Asur man stands tall in his home
                </div>
              </div>
            </div>
          </div>
          <div class="frame2">
            <div class="frame3">
              <div class="dimensions">Dimensions</div>
              <div class="rectangle-wrapper">
                <img
                  class="rectangle-icon1"
                  alt=""
                  src="../../public/static/images/Picture2.png"
                />
              </div>
            </div>
            <div class="frame-parent1">
              <div class="frame-wrapper">
                <div class="a-snapshot-of-tdi-among-asur-p-parent">
                  <div class="a-snapshot-of">
                    A snapshot of TDI among Asur PVTG
                  </div>
                  <div class="asur">Asur</div>
                </div>
              </div>
              <img class="frame-item" alt="" src="../../public/static/images/right-table.png" />

              <div class="frame4">
                <div class="group4">
                  <img class="vector-icon5" alt="" src="../../public/static/images/" />

                  <div class="percentage-contribution-of3">
                    Percentage contribution of each Dimension and Indicator to
                    TDI Score
                  </div>
                </div>
              </div>
              <div class="indicators-wrapper">
                <div class="indicators">Indicators</div>
              </div>
              <div class="frame-parent2">
                <div class="health-parent">
                  <div class="pie-box">
                    <div class="health1">Health</div>
                    <img
                      class="vector-icon6"
                      alt=""
                      src="../../public/static/images/health-icon.png"
                    />

                    

                    <div class="chronic-diseases-immunisation-container">
                      <p class="chronic-diseases">Chronic Diseases</p>
                      <p class="chronic-diseases">Immunisation</p>
                      <p class="chronic-diseases">Maternal Care</p>
                      <p class="chronic-diseases">Child Mortality</p>
                    </div>
                    <!-- <img
                      class="health-pie-icon-1"
                      alt=""
                      src="../../public/static/images/healthpieicon-1@2x.png"
                    /> -->
                    <div class="pie-icon-1"><canvas class="canvas-pie" id="health-pie"> 
                    </canvas></div>
                    
                  </div>
                  <div class="pie-box">
                    

                    

                    <div class="institutional-credit-ownership-container">
                      <p class="chronic-diseases">Institutional Credit</p>
                      <p class="chronic-diseases">Ownership</p>
                      <p class="chronic-diseases">Sanitation</p>
                      <p class="chronic-diseases">Fuel</p>
                      <p class="chronic-diseases">Drinkng Water</p>
                      <p class="chronic-diseases">Electricity</p>
                    </div>
                    <div class="standard-of-living">Standard of Living</div>
                    <img
                      class="sol-icon-1"
                      alt=""
                      src="../../public/static/images/sol-icon.png"
                    />
                    <div class="pie-icon-1"><canvas class="canvas-pie" id="sol-pie"> 
                    </canvas></div>
                  </div>
                  <div class="pie-box">
                    <img
                      class="governance-icon-1"
                      alt=""
                      src="../../public/static/images/governance-icon.png"
                    />

                    <img
                      class="vector-icon17"
                      alt=""
                      src="../../public/static/images/vector16.svg"
                    />

                    <div class="governance1">GOVERNANCE</div>
                    <div class="execution-of-voting">
                      Execution Of Voting Rights
                    </div>
                    <img
                      class="vector-icon18"
                      alt=""
                      src="../../public/static/images/vector17.svg"
                    />

                    <div class="participation-in-government">
                      Participation in Government meetings
                    </div>
                    <div class="pie-icon-1"><canvas class="canvas-pie" id="governance-pie"> 
                    </canvas></div>
                    
                  </div>
                </div>
                <div class="education-parent">
                  <div class="pie-box">
                   

                    <div class="drop-out">Drop Out</div>
                    <div class="years-of-schooling">Years of Schooling</div>
                    

                    <div class="education1">Education</div>
                    <img
                      class="education-icon-1"
                      alt=""
                      src="../../public/static/images/education-icon.png"
                    />

                    <div class="pie-icon-1"><canvas class="canvas-pie" id="education-pie"> 
                    </canvas></div>
                  </div>
                  <div class="pie-box">
                    

                    <div class="arts">Arts</div>
                    

                    <div class="lanuage">Lanuage</div>
                    <img
                      class="culture-icon-1"
                      alt=""
                      src="../../public/static/images/culture-icon.png"
                    />

                    <div class="pie-icon-1"><canvas class="canvas-pie" id="culture-pie"> 
                    </canvas></div>

                    <div class="culture1">Culture</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="chart.js"></script>
  </body>
</html>
