<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="../../media/css/global.css" />
  <link rel="stylesheet" href="../../media/css/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <div class="setup-materials">
    <div class="navbar1">
      <div class="web-tdi1">Web TDI</div>
      <div class="opt1-group">
        <div class="opt11">opt1</div>
        <div class="opt21">opt2</div>
        <div class="opt21">opt3</div>
        <div class="opt21">opt4</div>
        <div class="opt21">opt5</div>
      </div>
      <div class="login-group">
        <div class="login1">Login</div>
        <div class="signup1">SignUp</div>
      </div>
    </div>
    <div class="page2-parent">
      <div class="page2">
        <div class="frame-parent">
          <div class="frame-group">
            <div class="group">
              <img class="vector-icon" alt="" src="../../media/images/" />

              <div class="percentage-contribution-of">
                Censored And Uncensored
              </div>
            </div>
            <!-- <img class="frame-child" alt="" src="../../media/images/percentage-graph.png" /> -->
            <div class="percentage-graph">
              <div class="censored"><canvas id="censored-graph" width="288" height="579"></canvas>
                <div id="my-data_censored1" data-my-data="{{tribe.get_censored_tribal_indicator_score.0}}"></div>
                <div id="my-data_censored2" data-my-data="{{tribe.get_censored_tribal_indicator_score.1}}"></div>
                <div id="my-data_censored3" data-my-data="{{tribe.get_censored_tribal_indicator_score.2 }}"></div>
                <div id="my-data_censored4" data-my-data="{{ tribe.get_censored_tribal_indicator_score.3}}"></div>
                <div id="my-data_censored5" data-my-data="{{tribe.get_censored_tribal_indicator_score.4}}"></div>
                <div id="my-data_censored6" data-my-data="{{tribe.get_censored_tribal_indicator_score.5}}"></div>
                <div id="my-data_censored7" data-my-data="{{tribe.get_censored_tribal_indicator_score.6}}"></div>
                <div id="my-data_censored8" data-my-data="{{tribe.get_censored_tribal_indicator_score.7}}"></div>
                <div id="my-data_censored9" data-my-data="{{tribe.get_censored_tribal_indicator_score.8}}"></div>
                <div id="my-data_censored10" data-my-data="{{tribe.get_censored_tribal_indicator_score.9}}"></div>
                <div id="my-data_censored11" data-my-data="{{tribe.get_censored_tribal_indicator_score.10}}"></div>
                <div id="my-data_censored12" data-my-data="{{tribe.get_censored_tribal_indicator_score.11}}"></div>
                <div id="my-data_censored13" data-my-data="{{tribe.get_censored_tribal_indicator_score.12}}"></div>
                <div id="my-data_censored14" data-my-data="{{tribe.get_censored_tribal_indicator_score.13}}"></div>
                <div id="my-data_censored15" data-my-data="{{tribe.get_censored_tribal_indicator_score.14}}"></div>
                <div id="my-data_censored16" data-my-data="{{tribe.get_censored_tribal_indicator_score.15}}"></div>
                <div id="my-data_censored17" data-my-data="{{tribe.get_censored_tribal_indicator_score.16}}"></div>
                <div id="my-data_censored18" data-my-data="{{tribe.get_censored_tribal_indicator_score.17}}"></div>
              </div>
              <div class="uncensored"><canvas id="uncensored-graph" width="288" height="579"></canvas>
                <div id="my-data_uncensored1" data-my-data="{{tribe.get_tribal_indicator_members.0}}"></div>
                <div id="my-data_uncensored2" data-my-data="{{tribe.get_tribal_indicator_members.1}}"></div>
                <div id="my-data_uncensored3" data-my-data="{{tribe.get_tribal_indicator_members.2 }}"></div>
                <div id="my-data_uncensored4" data-my-data="{{ tribe.get_tribal_indicator_members.3}}"></div>
                <div id="my-data_uncensored5" data-my-data="{{tribe.get_tribal_indicator_members.4}}"></div>
                <div id="my-data_uncensored6" data-my-data="{{tribe.get_tribal_indicator_members.5}}"></div>
                <div id="my-data_uncensored7" data-my-data="{{tribe.get_tribal_indicator_members.6}}"></div>
                <div id="my-data_uncensored8" data-my-data="{{tribe.get_tribal_indicator_members.7}}"></div>
                <div id="my-data_uncensored9" data-my-data="{{tribe.get_tribal_indicator_members.8}}"></div>
                <div id="my-data_uncensored10" data-my-data="{{tribe.get_tribal_indicator_members.9}}"></div>
                <div id="my-data_uncensored11" data-my-data="{{tribe.get_tribal_indicator_members.10}}"></div>
                <div id="my-data_uncensored12" data-my-data="{{tribe.get_tribal_indicator_members.11}}"></div>
                <div id="my-data_uncensored13" data-my-data="{{tribe.get_tribal_indicator_members.12}}"></div>
                <div id="my-data_uncensored14" data-my-data="{{tribe.get_tribal_indicator_members.13}}"></div>
                <div id="my-data_uncensored15" data-my-data="{{tribe.get_tribal_indicator_members.14}}"></div>
                <div id="my-data_uncensored16" data-my-data="{{tribe.get_tribal_indicator_members.15}}"></div>
                <div id="my-data_uncensored17" data-my-data="{{tribe.get_tribal_indicator_members.16}}"></div>
                <div id="my-data_uncensored18" data-my-data="{{tribe.get_tribal_indicator_members.17}}"></div>
              </div>
            </div>

          </div>
          <div class="group-parent">
            <div class="group1">
              <img class="vector-icon1" alt="" src="../../media/images/vector1.svg" />

              <div class="percentage-contribution-of1">

              </div>
            </div>
            <div class="group-child">
              <img src="../../media/images/asur-image.png" alt="" style="width: 100%;">
            </div>
          </div>
        </div>
        <div class="frame-container">
          <div class="frame-div">
            <div class="frame">
              <img class="rectangle-icon" alt="" src="../../media/images/map.png" />
            </div>
            <div class="group2">
              <div class="percentage-contribution-of2">
                Percentage contribution of each Dimension and Indicator to TDI
                Score
              </div>
            </div>
          </div>
          <div class="score-graph-1-parent">

            <div>
              <canvas id="graph2"></canvas>
              <div id="my-graph2-data"></div>

            </div>

            <div class="group2">

              <div class="score">Score</div>
            </div>
          </div>
        </div>
      </div>
      <div class="page1">
        <div class="tribe-logo-parent">
          <img class="tribe-logo-icon" alt="" src="../../media/images/Tribe-logo-name.png" />

          <div class="frame1" style="background-image: url(../../media/images/asur.jpg);">
            <div class="photo-desc" style="background-color: #f2f2f277;">
              <div class="image-location-">
                Image Location - Village Husmu , Neharhat , Jharkhand
              </div>
              <div class="an-asur-man">
                An Asur man stands tall in his home
              </div>
            </div>
          </div>
        </div>
        <div class="frame2">
          <div class="frame3">
            <div class="dimensions">Dimensions</div>
            <div class="rectangle-wrapper">
              <!-- <canvas class="canvas-pie" id="vertical-bar-graph" width="388" height="1379"> -->
              </canvas>
            </div>
          </div>
          <div class="frame-parent1">
            <div class="frame-wrapper">
              <img src="../../media/images/background-blue.png" alt="Here is an image">
              <div class="a-snapshot-of-tdi-among-asur-p-parent">
                <div class="a-snapshot-of">
                  A snapshot of TDI among Asur PVTG
                </div>
                <div class="asur">Asur</div>
              </div>
            </div>
            <div class="table-top">
              <table  class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Overview</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td  scope="row">Incidence (I)</td>
                    <td>Intensity (A)</td>
                    <td>TDI (I X A)</td>
                  </tr>
                  <tr>
                  
                    <td scope="row">{{tribe.tribal_incidence}}</td>
                    <td>{{tribe.tribal_intensity}}</td>
                    <td>{{tribe.tribal_index}}</td>
                  </tr>
                
                </tbody>
              </table>
           </div>

            <div class="frame4">
              <div class="group4">

                <div class="percentage-contribution-of3">
                  Percentage contribution of each Dimension and Indicator to
                  TDI Score
                </div>
              </div>
            </div>
            <div class="indicators-wrapper">
              <div class="indicators">Indicators</div>
            </div>
            <div class="frame-parent2">
              <div class="health-parent">
                <div class="pie-box">
                  <div class="health1">
                  <div id="my-data-health" data-my-data="{{indicator_contributions_to_dimension}}"></div>
                  
                  <img class="vector-icon6" alt="" src="../../media/images/health-icon.png" />
                  <div class="health-container" >
                    <p class="health">Chronic Diseases</p>
                    <p class="health"  >Immunisation</p>
                    <p class="health"  >Maternal Care</p>
                    <p class="health"  >Child Mortality</p>
                  </div>
                  <div class="pie-icon-1"><canvas class="canvas-pie" id="health-pie" >
                  </canvas></div>
                </div>

                </div>




                <div class="pie-box">




                  <div class="sol-container">
                    <p class="sol">Institutional Credit</p>
                    <p class="sol">Ownership</p>
                    <p class="sol">Sanitation</p>
                    <p class="sol">Fuel</p>
                    <p class="sol">Drinkng Water</p>
                    <p class="sol">Electricity</p>
                  </div>
                  <div class="standard-of-living">Standard of Living</div>
                  <div class="sol1">


                    <div id="my-data-sol"></div>


                  </div>
                  <img class="sol-icon-1" alt="" src="../../media/images/sol-icon.png" />
                  <div class="pie-icon-1"><canvas class="canvas-pie" id="sol-pie">
                    </canvas></div>
                </div>
                <div class="pie-box">
                  <div class="governance1">


                    <div id="my-data-governance"></div>


                  </div>
                  <img class="governance-icon-1" alt="" src="../../media/images/governance-icon.png" />

                  <img class="vector-icon17" alt="" src="../../media/images/vector16.svg" />

                  <div class="governance1">GOVERNANCE</div>
                  <div class="execution-of-voting">
                    Execution Of Voting Rights
                  </div>
                  <img class="vector-icon18" alt="" src="../../media/images/vector17.svg" />

                  <div class="participation-in-government">
                    Participation in Government meetings
                  </div>
                  <div class="pie-icon-1"><canvas class="canvas-pie" id="governance-pie">
                    </canvas></div>

                </div>
              </div>
              <div class="education-parent">
                <div class="pie-box">

                  <div class="education-container">
                  <div class="education">Drop Out</div>
                  <div class="education">Years of Schooling</div>
                  <div class="education">Education</div>
                


                  <div id="my-data-education"></div>



                  <img class="education-icon-1" alt="" src="../../media/images/education-icon.png" />

                  <div class="pie-icon-1"><canvas class="canvas-pie" id="education-pie">
                    </canvas></div>

                </div>
                </div>
                <div class="pie-box">


                  <div class="arts">Arts</div>


                  <div class="lanuage">Lanuage</div>
                  <img class="culture-icon-1" alt="" src="../../media/images/culture-icon.png" />

                  <div class="pie-icon-1"><canvas class="canvas-pie" id="culture-pie">
                    </canvas></div>

                  <div class="culture1">Culture</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- JAVASCRIPT -->

<!-- CDN LINKS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
    integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- ****** -->


<!-- CHART JS -->
  <script>

//DIMENTION CONTRIBUTION VERTICAL BAR
// const vertical_bar = {{ tribal_dimensional_index| safe }};
const vertical_graph_element = document.getElementById('vertical-bar-graph');
var data_health={{dimension_contribution_to_tdi.0}};
var data_education={{dimension_contribution_to_tdi.1}};
var data_sol={{dimension_contribution_to_tdi.2}};
var data_culture={{dimension_contribution_to_tdi.3}};
var data_goverance={{dimension_contribution_to_tdi.4}};

console.log(data_health);
const vertical_bar_data = {
  labels: ['Dimensions'],
  datasets: [
    {
      label: 'Governance', // Removed square brackets
      data:[data_goverance] , // Replace with your actual data for 'Governance'
      backgroundColor: '#C55A11', // Color for 'Governance'
    },
    {
      label: 'Culture', // Removed square brackets
      data: [data_culture], // Replace with your actual data for 'Culture'
      backgroundColor: '#BFBFBF', // Color for 'Culture'
    },
    {
      label: 'Sol', // Removed square brackets
      data:[data_sol], // Replace with your actual data for 'Sol'
      backgroundColor: '#FFD966', // Color for 'Sol'
    },
    {
      label: 'Education', // Removed square brackets
      data:[data_education], // Replace with your actual data for 'Education'
      backgroundColor: '#A9D18E', // Color for 'Education'
    },
    {
      label: 'Health', // Removed square brackets
      data:[data_health], // Replace with your actual data for 'Health'
      backgroundColor: '#5B9BD5', // Color for 'Health'
    },
  ],
};

const config_vertical_bar = {
  type: 'bar',
  data: vertical_bar_data,
  options: {
    indexAxis: 'x',
    scales: {
      x: {
        stacked: true,
        beginAtZero: true,
      },
      y: {
        display: false,
        stacked: true,
        beginAtZero: true,
        maxTicksLimit: 16,
        autoSkip: false,
      },
    },
    
    plugins: {
      datalabels: {
        anchor: 'center', // Center the labels inside the bars
        align: 'center', // Align the labels to the center
        color: 'black', // Label color
        font: {
          weight: 'bold', // Label font weight
        },
        formatter: function (value, context) {
          const label = vertical_bar_data.labels[context.dataIndex];
          const dataset = vertical_bar_data.datasets[context.datasetIndex];
          const colorIndex = context.datasetIndex; // Get the color index

          // Create a legend string
          const legend =  dataset.label +','+ value;
          
          return legend;
        },
        display: 'auto',
      },
      legend: {
        display: false, // Hide the legend
      },
    },
  },
  plugins: [ChartDataLabels]
};


const vertical_bar_graph = new Chart(vertical_graph_element, config_vertical_bar);

//UNSENSORED-GRAPH
    var myDataArray = []; // Create an array to store the data

    for (var i = 1; i <= 18; i++) {
      var myDattaElement = document.getElementById(`my-data_uncensored${i}`);
      var myDatta = myDattaElement.getAttribute("data-my-data");
      myDataArray.push(myDatta); // Store the data in the array
    }



    const uncensored_data = {
      labels: ['Chronic Disease', 'Immunisation', 'Maternal Care', 'Under 5 child mortality', 'Food Security', 'Level of Education', 'Drop-out', 'Institutional Credit', 'Land Ownership', 'Sanitation', 'Cooking Fuel', 'Source of Drinking Water', 'Electricity', 'Assets', 'Language', 'Arts and Culture', 'Voted', 'Meetings'],
      datasets: [
        {
          label: 'Sales',
          data: myDataArray,
          fill: false,
          backgroundColor: 'rgba(75,192,192,0.4)',
          borderColor: 'rgba(75,192,192,1)',
          borderWidth: 1,
        },
      ],
    };

    const config_uncensored = {
      type: 'bar',
      data: uncensored_data,
      options: {
        indexAxis: 'y',
        scales: {
          xAxes: [
            {
              ticks: {
                stepSize: 1,
                beginAtZero: true,
                autoSkip: false,
                
              },
              
            },
          ],
          yAxes: [
            {
              ticks: {
                stepSize: 1,
                beginAtZero: true,
                maxTicksLimit: 16,
                autoSkip: false
              },
              
            },
          ],
        },
        plugins: {
          datalabels: {
            anchor: "end",
            align: "right"
          }
        }
      },
      plugins: [ChartDataLabels]
    };

    const uncensored_graph = new Chart(document.getElementById('uncensored-graph'), config_uncensored);
//*******************************************


//CENSORED-GRAPH
    var myDataArray = []; // Create an array to store the data

    for (var i = 1; i <= 18; i++) {
      var myDattaElement = document.getElementById(`my-data_censored${i}`);
      var myDatta = myDattaElement.getAttribute("data-my-data");
      myDataArray.push(myDatta); // Store the data in the array
    }


    const censored_data = {
      labels: ['Chronic Disease', 'Immunisation', 'Maternal Care', 'Under 5 child mortality', 'Food Security', 'Level of Education', 'Drop-out', 'Institutional Credit', 'Land Ownership', 'Sanitation', 'Cooking Fuel', 'Source of Drinking Water', 'Electricity', 'Assets', 'Language', 'Arts and Culture', 'Voted', 'Meetings'],
      datasets: [
        {
          label: 'Sales',
          data: myDataArray,
          fill: false,
          backgroundColor: 'rgba(75,192,192,0.4)',
          borderColor: 'rgba(75,192,192,1)',
          borderWidth: 1,
          
        },
      ],
    };

    const config_censored = {
      type: 'bar',
      data: censored_data,
      options: {
        indexAxis: 'y',
        scales: {
          xAxes: [
            {
              ticks: {
                stepSize: 1,
                beginAtZero: true,
                autoSkip: false
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                stepSize: 1,
                beginAtZero: true,
                maxTicksLimit: 16,
                autoSkip: false
              },
            },
          ],
        },
        plugins: {
          datalabels: {
            anchor: "end",
            align: "right"
          }
        }
      },
      plugins: [ChartDataLabels]
    };

    const censored_graph = new Chart(document.getElementById('censored-graph'), config_censored);
//********************************









//Pie chart health
    var myDattaElement = document.getElementById('my-data-health');
    var health_data = {{ health_contributions_to_dimension| safe}};
    const data2 = {
      
      datasets: [{
        label:'',
        data: health_data,
        backgroundColor: [
          '#315493',
          '#3B64AD',
          '#4472C4',
          '#8FA2D4',
          '',
        ],
        hoverOffset: 4
      }]
    };

    const config2 = {
      type: 'doughnut',
      data: data2,
    };
    const health = new Chart(document.getElementById('health-pie'), config2);


//Pie chart education *********
    var myDattaElement = document.getElementById('my-data-education');
    var education_data = {{ education_contributions_to_dimension| safe}};

    const data3 = {
      // labels: [
      //   'Red',
      //   'Blue',
      //   'Yellow'
      // ],
      datasets: [{
        label: '',
        data: education_data,
        backgroundColor: [
          '#538233',
          '#A1C490',
        ],
        hoverOffset: 4,
      }]
    };

    const config3 = {
      type: 'doughnut',
      data: data3,
    };
    const education = new Chart(document.getElementById('education-pie'), config3);

//*******************


//Pie chart sol ***********
    var myDattaElement = document.getElementById('my-data-sol');
    var sol_data = {{ sol_contributions_to_dimension| safe}};
    const data4 = {
      // labels: [
      //   'Red',
      //   'Blue',
      //   'Yellow'
      // ],
      datasets: [{
        label: '',
        data: sol_data,
        backgroundColor: [
          '#C09000',
          '#E2AA00',
          '#FFC000',
          '#FFD184',
          '#FFE0B5',
          '#FFD9A0',

        ],
        hoverOffset: 4
      }]
    };

    const config4 = {
      type: 'doughnut',
      data: data4,
    };
    const sol = new Chart(document.getElementById('sol-pie'), config4);

//********************

//Pie chart culture ********
    var myDattaElement = document.getElementById('my-data-culture');
    var culture_data = {{ culture_contributions_to_dimension| safe}};
    const data5 = {
      // labels: [
      //   'Red',
      //   'Blue',
      //   'Yellow'
      // ],
      datasets: [{
        label: '',
        data: culture_data,
        backgroundColor: [
          '#5F5F5F',
          'B3B3B3',

        ],
        hoverOffset: 4
      }]
    };

    const config5 = {
      type: 'doughnut',
      data: data5,
    };
    const culture = new Chart(document.getElementById('culture-pie'), config5);
//**************


//Pie chart governance ******
    var myDattaElement = document.getElementById('my-data-governance');
    var governance_data = {{ governance_contributions_to_dimension| safe}};
    const data6 = {
      // labels: [
      //   'Red',
      //   'Blue',
      //   'Yellow'
      // ],
      datasets: [{
        label: '',
        data: governance_data,
        backgroundColor: [
          '#F5C7B8',
          '#F1A78A',
        ],
        hoverOffset: 4
      }]
    };

    const config6 = {
      type: 'doughnut',
      data: data6,
    };
    const governance = new Chart(document.getElementById('governance-pie'), config6);

//************************


//Dimension Index And TDI Graph *********
    var graph2_data = {{ tribal_dimensional_index| safe}};
    const ctx = document.getElementById('graph2');


    
    var tdi = {{ tribe.tribal_index }};

    const data = {
      labels: ['Health Development Index', 'Education Development Index', 'Sol Development Index', 'Culture Development Index', 'Governance Development Index', 'Tribal Development Index'],
      datasets: [
        {
          // label: ['Health Development Index','Education Development Index','Sol Development Index','Culture Development Index','Governance Development Index','Tribal Development Index'],
          data: [...graph2_data, tdi], // Add the additional value to the data list
          backgroundColor: [
            '#4472C4',
            '#ED7D31',
            '#A5A5A5',
            '#FFC000',
            '#5B9BD5',
            '#70AD47', // Color for the additional value
          ],
          borderWidth: 1,
        },
      ],
    };
    const options = {
      plugins: {
        datalabels: {
          display: true,
          color: "black"
        }
      },
      legend: {
        display: false
      }
    };
    // Create the chart
    new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        indexAxis: 'x',
        scales: {
          xAxes: [
            {
              ticks: {
                stepSize: 10,
                beginAtZero: true,
              },
            },
          ],
        },
        plugins: {
          datalabels: {
            anchor: "end",
            align: "top"
          }
        }
      },
      plugins: [ChartDataLabels]
    });

//**********************











  </script>


</body>

</html>