<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    {% for district in districts%}
    {{district.get_health_multiplier_indicator_score}}
    <br>
    {%endfor%}
    {{max_arr}}
    <br><br>
    {{min_arr}}
    <!-- {% for district in districts%}
    {{district.get_max_min}}
    <br>
    {%endfor%} -->
    {% for district in districts%}
    {{district.get_health_norm_ind_score}}
    <br>
    {%endfor%}
    {% for district in districts%}
    <br>
    {{district.get_health_score}}
    <br>
    {%endfor%}
    {% for district in districts%}
    <br>
    {{district.get_education_score}}
    <br>
    {%endfor%}
    <!-- 
    {% for district in districts%}
    <br>
    {{district.get_sol_score}}
    <br>
    {%endfor%} -->
</body>
</html>