{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto Sans Hebrew:wght@100;400;500;700;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@400;800&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kiwi Maru:wght@500&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% block extra_css %}

  {% endblock %}



</head>

<body>

  {% if messages %}
  {% for message in messages %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock %}
</body>


<!-- BOOTSTRAP JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- JAVASCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>



<!-- CDN LINKS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

<!-- ****** -->


<!-- CHART JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js"
  integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- ****** -->

<script>
  // HOME SCRIPT

  // TRIBE STACKED GRAPH
  const tribe_stacked_graph = document.getElementById('tribe_stacked_graph');

  var tribe_wise_tdi = {{ tribe_wise_tdi }}
  new Chart(tribe_stacked_graph, {
    type: 'bar',
    data: {
      labels: ['Asur', 'Birhor', 'Birjia', 'Korwa', 'Mal Paharia', 'Parhiya', 'Savar', 'Sauria Parhaiya'],
      datasets: [{
        label: 'TDI',
        data: tribe_wise_tdi,
        borderWidth: 1,
        backgroundColor: [
          '#4472C4',
          '#ED7D31',
          '#A5A5A5',
          '#FFC000',
          '#5B9BD5',
          '#70AD47', // Color for the additional value
        ],
      }
      ]
    },

    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });




</script>

<!-- MAP SCRIPT -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    // Attach click event to each SVG path with class 'district-path'
    $('.district-path').on('click', function () {
      // Extract district ID from the data-district-id attribute
      var districtId = $(this).attr('id');
      console.log(districtId);

      // Redirect to the district page using the district ID
      window.location.href = '/district/' + districtId + '/2023';
    });
  });



  document.addEventListener('DOMContentLoaded', function () {
    // Get all path elements with the class 'district-path'
    const paths = document.querySelectorAll('.district-path');

    // Get the elements for district name and values
    const districtNameElement = document.querySelector('.district-name h3');
    const districtValuesElement = document.querySelector('.district-values');

    // Add mouseover event listener to each path
    paths.forEach(function (path) {
      path.addEventListener('mouseover', function () {
        // Get the id attribute of the path
        const districtId = path.id;

        // Set the district name and values dynamically
        districtNameElement.textContent = districtId;


        // Display the district name and values elements
        districtNameElement.style.display = 'block';
        districtValuesElement.style.display = 'block';
      });

      // Add mouseout event listener to hide the elements
      path.addEventListener('mouseout', function () {
        districtNameElement.style.display = 'none';
        districtValuesElement.style.display = 'none';
      });
    });
  });


</script>





<script>
  // DISTRICT HORIZONTAL GRAPH

  const district_horizontal_graph = document.getElementById('district_horizontal_graph');
  var district_wise_tdi = {{ district_wise_tdi }}
  new Chart(district_horizontal_graph, {
    type: 'bar',
    data: {
      labels: ['Bokaro', 'Chatra', 'Deoghar', 'Dhanbad', 'Dumka', 'Garhwa', 'Giridih', 'Godda', 'Gumla', 'Hazaribagh', 'Jamtara', 'Khunti', 'Kodarma', 'Latehar', 'Lohardaga', 'Pakur', 'Palamu', 'Pashchimi (West) Singhbhum', 'Purbi (East) Singhbhum', 'Ramgarh', 'Ranchi', 'Sahibganj', 'Saraikela-Kharsawan', 'Simdega'],
      datasets: [{
        label: '# of Votes',
        data: district_wise_tdi,
        borderWidth: 1,
        backgroundColor: [
          '#C5E0B4',
          '#D9D9D9',
          '#B3B3B3',
          '#FFE0B5',
          '#FFE699',
          '#F1A78A',
          '#BDD7EE',
          '#F8CBAD',
          '#A1C490',
          '#F5C7B8',
          '#FFC000',
          '#FFD9A0',
          '#FFD184',
          '#538233',
          '#BDD7EE',
          '#FFE699',
          '#FFE699',
          '#C5E0B4',
          '#C5E0B4',
          '#C09000',
          '#BDD7EE',
          '#FFD184',
          '#F8CBAD',
          '#BDD7EE',
        ],

      }]
    },
    options: {
      // indexAxis: 'y',
      aspectRatio: 2.1,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>




<!-- TRIBE_WISE SCRIPT -->
<script>




  //DIMENTION CONTRIBUTION VERTICAL BAR
  // const vertical_bar = {{ tribal_dimensional_index| safe }};
  const vertical_graph_element = document.getElementById('vertical-bar-graph');
  var data_health = {{ dimension_contribution_to_tdi.0}};
  var data_education = {{ dimension_contribution_to_tdi.1}};
  var data_sol = {{ dimension_contribution_to_tdi.2}};
  var data_culture = {{ dimension_contribution_to_tdi.3}};
  var data_goverance = {{ dimension_contribution_to_tdi.4}};


  const vertical_bar_data = {
    labels: ['Dimensions'],
    datasets: [
      {
        label: 'Governance', // Removed square brackets
        data: [data_goverance], // Replace with your actual data for 'Governance'
        backgroundColor: '#C55A11', // Color for 'Governance'
      },
      {
        label: 'Culture', // Removed square brackets
        data: [data_culture], // Replace with your actual data for 'Culture'
        backgroundColor: '#BFBFBF', // Color for 'Culture'
      },
      {
        label: 'Sol', // Removed square brackets
        data: [data_sol], // Replace with your actual data for 'Sol'
        backgroundColor: '#FFD966', // Color for 'Sol'
      },
      {
        label: 'Education', // Removed square brackets
        data: [data_education], // Replace with your actual data for 'Education'
        backgroundColor: '#A9D18E', // Color for 'Education'
      },
      {
        label: 'Health', // Removed square brackets
        data: [data_health], // Replace with your actual data for 'Health'
        backgroundColor: '#5B9BD5', // Color for 'Health'
      },
    ],
  };

  const config_vertical_bar = {
    type: 'bar',
    data: vertical_bar_data,
    options: {
      barPercentage: 2,
      categoryPercentage: 1,
      indexAxis: 'x',
      aspectRatio: 0.02,
      scales: {
        x: {
          stacked: true,
          beginAtZero: true,
          display: false
        },
        y: {
          display: false,
          stacked: true,
          beginAtZero: true,
          maxTicksLimit: 16,
          autoSkip: false,
        },
      },

      plugins: {
        datalabels: {
          anchor: 'center', // Center the labels inside the bars
          align: 'center', // Align the labels to the center
          color: 'white', // Label color
          font: {
            weight: 'bold', // Label font weight
          },
          formatter: function (value, context) {
            const label = vertical_bar_data.labels[context.dataIndex];
            const dataset = vertical_bar_data.datasets[context.datasetIndex];
            const colorIndex = context.datasetIndex; // Get the color index

            // Create a legend string
            const legend = dataset.label + ',' + value;

            return legend;
          },
          display: 'auto',
        },
        legend: {
          display: false, // Hide the legend
        },
      },
    },
    plugins: [ChartDataLabels]
  };


  const vertical_bar_graph = new Chart(vertical_graph_element, config_vertical_bar);

  //UNSENSORED-GRAPH
  var myDataArray = []; // Create an array to store the data

  for (var i = 1; i <= 18; i++) {
    var myDattaElement = document.getElementById(`my-data_uncensored${i}`);
    var myDatta = myDattaElement.getAttribute("data-my-data");
    myDataArray.push(myDatta); // Store the data in the array
  }



  const uncensored_data = {
    labels: ['Chronic Disease', 'Immunisation', 'Maternal Care', 'Under 5 child mortality', 'Food Security', 'Level of Education', 'Drop-out', 'Institutional Credit', 'Land Ownership', 'Sanitation', 'Cooking Fuel', 'Source of Drinking Water', 'Electricity', 'Assets', 'Language', 'Arts and Culture', 'Voted', 'Meetings'],
    datasets: [
      {
        label: 'Uncensored',
        data: myDataArray,
        fill: false,
        backgroundColor: [
          '#BDD7EE',
          '#BDD7EE',
          '#BDD7EE',
          '#BDD7EE',
          '#BDD7EE',
          '#C5E0B4',
          '#C5E0B4',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#D9D9D9',
          '#D9D9D9',
          '#F8CBAD',
          '#F8CBAD',
        ],
        // borderColor: 'rgba(75,192,192,1)',
        borderWidth: 1,
      },
    ],
  };

  const config_uncensored = {
    type: 'bar',
    data: uncensored_data,
    options: {
      indexAxis: 'y',
      scales: {
        xAxes: [
          {
            ticks: {
              stepSize: 1,
              beginAtZero: true,
              autoSkip: false,

            },

          },
        ],
        yAxes: [
          {
            ticks: {
              stepSize: 1,
              beginAtZero: true,
              maxTicksLimit: 16,
              autoSkip: false
            },

          },
        ],

        x: {
          grid: {
            drawOnChartArea: false,
            display: false
          }
        },
        y: {
          grid: {
            drawOnChartArea: false,
            display: false
          }
        }
      },
      plugins: {
        datalabels: {
          anchor: "end",
          align: "right"
        }
      }
    },
    plugins: [ChartDataLabels]
  };

  const uncensored_graph = new Chart(document.getElementById('uncensored-graph'), config_uncensored);
  //*******************************************


  //CENSORED-GRAPH
  var myDataArray = []; // Create an array to store the data

  for (var i = 1; i <= 18; i++) {
    var myDattaElement = document.getElementById(`my-data_censored${i}`);
    var myDatta = myDattaElement.getAttribute("data-my-data");
    myDataArray.push(myDatta); // Store the data in the array
  }


  const censored_data = {
    labels: ['Chronic Disease', 'Immunisation', 'Maternal Care', 'Under 5 child mortality', 'Food Security', 'Level of Education', 'Drop-out', 'Institutional Credit', 'Land Ownership', 'Sanitation', 'Cooking Fuel', 'Source of Drinking Water', 'Electricity', 'Assets', 'Language', 'Arts and Culture', 'Voted', 'Meetings'],
    datasets: [
      {
        label: 'Censored',
        data: myDataArray,
        fill: false,
        backgroundColor: [
          '#BDD7EE',
          '#BDD7EE',
          '#BDD7EE',
          '#BDD7EE',
          '#BDD7EE',
          '#C5E0B4',
          '#C5E0B4',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#FFE699',
          '#D9D9D9',
          '#D9D9D9',
          '#F8CBAD',
          '#F8CBAD',
        ],
        // borderColor: 'rgba(75,192,192,1)',
        borderWidth: 1,
      },
    ],
  };



  const config_censored = {
    type: 'bar',
    data: censored_data,
    options: {
      indexAxis: 'y',
      scales: {
        xAxes: [
          {
            ticks: {
              stepSize: 1,
              beginAtZero: true,
              autoSkip: false
            },
          },
        ],
        yAxes: [
          {
            ticks: {
              stepSize: 1,
              beginAtZero: true,
              maxTicksLimit: 20,
              autoSkip: false
            },
          },
        ],

        x: {
          grid: {
            drawOnChartArea: false,
            display: false
          }
        },
        y: {
          grid: {
            drawOnChartArea: false,
            display: false
          }
        }
      },
      plugins: {
        datalabels: {
          anchor: "end",
          align: "right"
        }
      }
    },
    plugins: [ChartDataLabels]
  };

  const censored_graph = new Chart(document.getElementById('censored-graph'), config_censored);
  //********************************









  //Pie chart health
  var myDattaElement = document.getElementById('my-data-health');
  var health_data = {{ health_contributions_to_dimension| safe}};
  const data2 = {

    datasets: [{
      label: '',
      data: health_data,
      backgroundColor: [
        '#315493',
        '#3B64AD',
        '#4472C4',
        '#8FA2D4',
        '',
      ],
      hoverOffset: 4
    }]
  };

  const config2 = {
    type: 'doughnut',
    data: data2,
  };
  const health = new Chart(document.getElementById('health-pie'), config2);


  //Pie chart education *********
  var myDattaElement = document.getElementById('my-data-education');
  var education_data = {{ education_contributions_to_dimension| safe}};

  const data3 = {
    // labels: [
    //   'Red',
    //   'Blue',
    //   'Yellow'
    // ],
    datasets: [{
      label: '',
      data: education_data,
      backgroundColor: [
        '#538233',
        '#A1C490',
      ],
      hoverOffset: 4,
    }]
  };

  const config3 = {
    type: 'doughnut',
    data: data3,
  };
  const education = new Chart(document.getElementById('education-pie'), config3);

  //*******************


  //Pie chart sol ***********
  var myDattaElement = document.getElementById('my-data-sol');
  var sol_data = {{ sol_contributions_to_dimension| safe}};
  const data4 = {
    // labels: [
    //   'Red',
    //   'Blue',
    //   'Yellow'
    // ],
    datasets: [{
      label: '',
      data: sol_data,
      backgroundColor: [
        '#C09000',
        '#E2AA00',
        '#FFC000',
        '#FFD184',
        '#FFE0B5',
        '#FFD9A0',

      ],
      hoverOffset: 4
    }]
  };

  const config4 = {
    type: 'doughnut',
    data: data4,
  };
  const sol = new Chart(document.getElementById('sol-pie'), config4);

  //********************

  //Pie chart culture ********
  var myDattaElement = document.getElementById('my-data-culture');
  var culture_data = {{ culture_contributions_to_dimension| safe}};
  const data5 = {
    // labels: [
    //   'Red',
    //   'Blue',
    //   'Yellow'
    // ],
    datasets: [{
      label: '',
      data: culture_data,
      backgroundColor: [
        '#5F5F5F',
        'B3B3B3',

      ],
      hoverOffset: 4
    }]
  };

  const config5 = {
    type: 'doughnut',
    data: data5,
  };
  const culture = new Chart(document.getElementById('culture-pie'), config5);
  //**************


  //Pie chart governance ******
  var myDattaElement = document.getElementById('my-data-governance');
  var governance_data = {{ governance_contributions_to_dimension| safe}};
  const data6 = {
    // labels: [
    //   'Red',
    //   'Blue',
    //   'Yellow'
    // ],
    datasets: [{
      label: '',
      data: governance_data,
      backgroundColor: [
        '#F5C7B8',
        '#F1A78A',
      ],
      hoverOffset: 4
    }]
  };

  const config6 = {
    type: 'doughnut',
    data: data6,
  };
  const governance = new Chart(document.getElementById('governance-pie'), config6);

  //************************


  //Dimension Index And TDI Graph *********
  var graph2_data = {{ tribal_dimensional_index| safe}};
  const ctx = document.getElementById('graph2');



  var tdi = {{ tribe.tribal_index }};

  const data = {
    labels: ['Health Development Index', 'Education Development Index', 'Sol Development Index', 'Culture Development Index', 'Governance Development Index', 'Tribal Development Index'],
    datasets: [
      {
        // label: ['Health Development Index','Education Development Index','Sol Development Index','Culture Development Index','Governance Development Index','Tribal Development Index'],
        data: [...graph2_data, tdi], // Add the additional value to the data list
        backgroundColor: [
          '#4472C4',
          '#ED7D31',
          '#A5A5A5',
          '#FFC000',
          '#5B9BD5',
          '#70AD47', // Color for the additional value
        ],
        borderWidth: 1,
      },
    ],
  };
  const options = {
    plugins: {
      datalabels: {
        display: false,
        color: "black"
      }
    },
    legend: {
      display: false
    }
  };
  // Create the chart
  new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
      indexAxis: 'x',
      scales: {
        xAxes: [
          {
            ticks: {
              stepSize: 20,
              beginAtZero: true,
            },

          },
        ],

        x: {
          grid: {
            drawOnChartArea: false,
            display: false,
          },
          ticks: {
            display: false
          }
        },
        y: {
          ticks: {
            stepSize: 0.2
          }
        }
      },
      plugins: {
        datalabels: {
          anchor: "end",
          align: "top"
        }
      }
    },
    plugins: [ChartDataLabels]
  });

  //**********************

</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- DISTRICT SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var myDattadis1Element = document.getElementById('my-data-health-district');
  var health_data = myDattadis1Element.getAttribute('data-my-data')
  const datadis1 = {

    datasets: [{
      label: '',
      data: {{ health_ind_contri_to_dim }},
    backgroundColor: [
      '#315493',
      '#3B64AD',
      '#4472C4',
      '#8FA2D4',

    ],
    hoverOffset: 4
        }]
      };

  const configdis1 = {
    type: 'doughnut',
    data: datadis1,
  };
  const health1 = new Chart(document.getElementById('health-pie-district'), configdis1);


  var myDattadis2Element = document.getElementById('my-data-education-district');
  var education_data = myDattadis2Element.getAttribute('data-my-data')
  const datadis2 = {

    datasets: [{
      label: '',
      data: {{ education_ind_contri_to_dim }},
    backgroundColor: [
      '#5E813E',
      '#B9CEAB',
      '#B9CEAB'

    ],
    hoverOffset: 4
        }]
      };

  const configdis2 = {
    type: 'doughnut',
    data: datadis2,
  };
  const eduaction1 = new Chart(document.getElementById('education-pie-district'), configdis2);


  var myDattadis3Element = document.getElementById('my-data-sol-district');
  var sol_data = myDattadis3Element.getAttribute('data-my-data')
  const datadis3 = {

    datasets: [{
      label: '',
      data: {{ sol_ind_contri_to_dim }},
    backgroundColor: [
      '#B99230',
      '#D9AC3A',
      '#F5C242',
      '#F8D38F',

    ],
    hoverOffset: 4
        }]
      };

  const configdis3 = {
    type: 'doughnut',
    data: datadis3,
  };
  const sol1 = new Chart(document.getElementById('sol-pie-district'), configdis3);





  const ctx = document.getElementById('graph2_dis');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Health Development Index', 'Education Development Index', 'Sol Development Index', 'TDI score (Geometric)', ' TDI score (Arithematic)'],

      datasets: [{
        label: '',
        data: [...{{ district_dimensional_index }}, ...{{ Ddi }}],
    backgroundColor: [
      '#4273B1',
      '#5E813F',
      '#B89230',
      '#B86029',
      '#385492',
      // Color for the additional value
    ],
    borderWidth: 1
  }]
         },
    options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
       });






  const censored_data_district = {
    labels: ['BMI', 'Children Under weight', 'Overall Nutrition Score', 'Anaemia-Women', 'Anaemia- children', 'Overall Aneamic Score', 'Antenatal checkup 1st trimister', 'Full Antenatal care', 'Post natal care', 'Overall Maternal Care Score', 'Health Insurance', 'Heath Score', 'ST Enrollment', 'Equity Outcome', 'Drop out', 'Education Score', 'Sanitation', 'Source of Cooking Fuel', 'Source of Drinking water', 'Electricity', 'Standard of Living Score'],
    datasets: [
      {
        label: 'Censored',
        data: {{ get_score }},
    fill: false,
    backgroundColor: [
      '#E0EBF6',
      '#E0EBF6',
      '#A5C2E3',
      '#E0EBF6',
      '#E0EBF6',
      '#A5C2E3',
      '#E0EBF6',
      '#E0EBF6',
      '#E0EBF6',
      '#A5C2E3',
      '#A5C2E3',
      '#4273B1',
      '#CADFB8',
      '#CADFB8',
      '#CADFB8',
      '#5E813F',
      '#FBE7A3',
      '#FBE7A3',
      '#FBE7A3',
      '#FBE7A3',
      '#B89230'


    ],
    // borderColor: 'rgba(75,192,192,1)',
    borderWidth: 1,
    barThickness: 24,
        },
      ],
    };



  const config_censored_district = {
    type: 'bar',
    data: censored_data_district,
    options: {
      maintainAspectRatio: false,
      indexAxis: 'y',
      scales: {
        xAxes: [
          {
            ticks: {
              stepSize: 1,
              beginAtZero: true,
              autoSkip: false
            },
          },
        ],
        yAxes: [
          {
            ticks: {
              stepSize: 1,
              beginAtZero: true,
              maxTicksLimit: 21,
              autoSkip: false
            },
          },
        ],

        x: {
          grid: {
            drawOnChartArea: false,
            display: false
          }
        },
        y: {
          grid: {
            drawOnChartArea: false,
            display: false
          }
        }
      },
      plugins: {
        datalabels: {
          anchor: "end",
          align: "right"
        }
      }
    },
    // plugins: [ChartDataLabels]
  };

  const censored_graph_district = new Chart(document.getElementById('censored-graph-district'), config_censored_district);

  const vertical_graph_element_district = document.getElementById('vertical-bar-graph-district');



  const vertical_bar_data_district = {
    labels: ['Dimensions'],
    datasets: [

      {
        label: 'Sol', // Removed square brackets
        data: [{{ sol_contri_to_tdi_sol }}], // Replace with your actual data for 'Sol'
    backgroundColor: '#FFD966', // Color for 'Sol'
  },
    {
      label: 'Education', // Removed square brackets
      data: [{{ education_contri_to_tdi }}], // Replace with your actual data for 'Education'
    backgroundColor: '#A9D18E', // Color for 'Education'
        },
  {
    label: 'Health', // Removed square brackets
      data: [{{ health_contri_to_tdi }}], // Replace with your actual data for 'Health'
  backgroundColor: '#5B9BD5', // Color for 'Health'
        },
      ],
    };

  const config_vertical_bar_district = {
    type: 'bar',
    data: vertical_bar_data_district,
    options: {
      barPercentage: 2,
      categoryPercentage: 1,
      indexAxis: 'x',
      aspectRatio: 0.02,
      scales: {
        x: {
          stacked: true,
          beginAtZero: true,
          display: false
        },
        y: {
          display: false,
          stacked: true,
          beginAtZero: true,
          maxTicksLimit: 16,
          autoSkip: false,
        },
      },

      plugins: {
        datalabels: {
          anchor: 'center', // Center the labels inside the bars
          align: 'center', // Align the labels to the center
          color: 'white', // Label color
          font: {
            weight: 'bold', // Label font weight
          },
          formatter: function (value, context) {
            const label = vertical_bar_data_district.labels[context.dataIndex];
            const dataset = vertical_bar_data_district.datasets[context.datasetIndex];
            const colorIndex = context.datasetIndex; // Get the color index

            // Create a legend string
            const legend = dataset.label + ',' + value;

            return legend;
          },
          display: 'auto',
        },
        legend: {
          display: false, // Hide the legend
        },
      },
    },
    plugins: [ChartDataLabels]
  };


  const vertical_bar_graph = new Chart(vertical_graph_element_district, config_vertical_bar_district);

</script>







</html>